{% extends 'main/base.html' %}
{% load static %}

{% block title %}Direct Messages{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
        <h2 class="text-center title mx-auto fw-bold mb-3">Direct Messages</h2>
        <div class="row">
            <div class="chat-list mb-5">
                {% for user in users_in_conversation %}
                    <div class="chat-card">
                        <a href="{% url 'chats:chat_view' user.id %}" class="chat-card-link">
                            <div class="chat-card-header bg-gray">
                                <img src="{{ user.profile.pfp.url }}" alt="{{ user.username }} Profile Picture" class="chat-profile-pic">
                                <div class="chat-info">
                                    <h3>{{ user.username }}</h3>
                                </div>
                                <form method="POST" action="{% url 'chats:delete_chat' user.id %}" style="display:inline; margin-left: auto;" onsubmit="return confirmDelete();">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-chat-btn" title="Delete Chat">
                                        <i class="bi bi-trash fs-5"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="chat-card-body">
                                <div class="message-info">
                                    <p class="last-message">
                                        {{ user.last_message }} 
                                        <span class="message-details">
                                            {% if user.unread_messages_count > 0 %}
                                                <span class="unread-count bg-lime">{{ user.unread_messages_count }}</span>
                                            {% endif %}
                                            <i class="bi bi-arrow-right mt-2 message-arrow"></i>
                                        </span>
                                    </p>
                                    <div class="message-time">
                                        <span class="last-message-time">{{ user.last_message_time }}</span>
                                    </div>
                                </div>
                            </div>                            
                        </a>
                    </div>
                    {% empty %}
                    <p class="text-center">No direct messages yet.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}