{% extends 'main/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="container-md">
    <h1 class="m-5 mx-auto title">
    Login
    </h1>

    <!-- Login form -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'accounts:login_view' %}{% if 'next' in request.GET %}?next={{request.GET.next}}{% endif %}" method="post" enctype="multipart/form-data" class="text-start bg-lime p-4 rounded-4 shadow-sm needs-validation custom-width" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label fw-medium">Username</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-at"></i></span>
                    <input type="text" class="form-control focus-ring focus-ring-primary" id="username" name="username" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please choose a username.
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label fw-medium">Password</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key"></i></span>
                    <input type="password" class="form-control focus-ring focus-ring-primary" id="password" name="password" minlength="6" maxlength="20" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please enter a password.
                    </div>
                </div>
            </div>
            <a href="{% url 'accounts:register_view' %}" class="text-decoration-underline a-blue-hover">Don't have an account?</a>
            <div class="d-flex justify-content-center mt-3">
                <button class="w-50 btn-blue" type="submit">
                    Login
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}