{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{profile.user.first_name}} {{profile.user.last_name}}{% endblock %}

{% block content %}
<section class="container-lg mt-5 rounded-4 bg-blue position-relative text-white">
    {% if request.user == profile.user %}
    <a href="{% url 'accounts:update_profile_view' %}" class="btn-lime position-absolute top-0 end-0 mt-3 me-5 py-2"><i
            class="bi bi-pencil-square"></i></a>
    {% endif %}
    <div class="profile-grid px-4">
        <!-- pfp and contact information -->
        <div class="profile mt-5 py-2">
            <img src="{{profile.pfp.url}}" class="pfp rounded-4 mx-auto" alt="Profile picture">
            <div class="d-flex flex-column p-3 mx-auto">
                <div class="d-flex gap-5 mb-3">
                    <h3 class="m-0">{{profile.user.first_name}} {{profile.user.last_name}}</h3>
                    <a href="{{profile.linkedin_url}}" target="_blank"><i class="bi bi-linkedin h3 text-white"></i></a>
                </div>
                <h5 class="mb-1 text-lime">Contact information:</h5>
                <p class="text-start m-0"><span class="fw-medium text-lime">Phone Number:</span> {{profile.phone}}</p>
                <p class="text-start m-0"><span class="fw-medium text-lime">Email:</span> {{profile.user.email}}</p>
                {% if not user == profile.user and user.is_authenticated %}
                {% if is_requested %}
                <a href="{% url 'exchangers:send_request_view' request.user.id profile.user.id %}?next={{request.path}}"
                    class="btn-gray mx-auto mt-4"><i class="bi bi-clock-fill pe-2"></i>Pending</a>
                {% elif is_connected %}
                <p class="bg-lime text-black py-1 px-2 mx-auto mt-4 rounded-2"><i class="bi bi-person-fill-check pe-2"></i>Connected</p>
                {% else %}
                <button type="button" class="btn-lime mx-auto mt-4" data-bs-toggle="modal"
                    data-bs-target="#connectModal">
                    <i class="bi bi-person-fill-add pe-2"></i>Connect</button>
                <!-- Request modal -->
                <div class="modal fade" id="connectModal" tabindex="-1" aria-labelledby="connectModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog text-black">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="m-0 fs-5" id="connectModalLabel">Schedule Exchange</p>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'exchangers:send_request_view' request.user.id profile.user.id %}?next={{request.path}}"
                                    method="post" class="needs-validation" novalidate>
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="recipient-name" class="col-form-label">Skill:</label>
                                        <select class="form-select" name="skill_to_exchange"
                                            aria-label="Default select example" required>
                                            <option>Choose</option>
                                            {% for skill in profile.skills.all %}
                                            <option value="{{skill.id}}">{{skill.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="scheduled_at" class="col-form-label">Scheduled at:</label>
                                        <input type="text" class="form-control" id="scheduled_at" name="scheduled_at"
                                            required />
                                    </div>
                                    <div class="d-flex justify-content-center gap-2">
                                        <button type="button" class="btn-gray" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn-blue">Send request</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="profile mt-1 mt-sm-5 py-2 text-black">
            <!-- Profile details -->
            <div class="bg-gray mb-4 p-3 rounded-4 w-100 h-50">
                <p class="my-2"><span class="fw-medium">Bio: </span>{{profile.bio}}</p>
                <p class="my-2">
                    <span class="fw-medium">Skills: </span>
                    {% for skill in profile.skills.all %}
                    <a href="{% url 'skills:skill_detail' skill.id %}" class="a-blue-hover">{{skill.name}}</a>,
                    {% endfor %}
                </p>
                <p class="my-2">
                    <span class="fw-medium">Skills Needed: </span>
                    {% for skill in profile.skills_needed.all %}
                    <a href="{% url 'skills:skill_detail' skill.id %}" class="a-blue-hover">{{skill.name}}</a>,
                    {% endfor %}
                </p>
            </div>
            {% if profile.user == request.user %}
            <!-- Requests and Exchangers list -->
            <div class="bg-gray rounded-4 w-100 overflow-hidden">
                <!-- Tabs Navigation -->
                <nav class="tabs-navigation">
                    <button class="tab-button active" data-tab="sent">Sent Requests</button>
                    <button class="tab-button" data-tab="received">Received Requests</button>
                    <button class="tab-button" data-tab="current">Current Exchanges</button>
                </nav>

                <!-- Tabs Content -->
                <div class="tabs-content">
                    <!-- Sent Requests Section -->
                    <section id="sent" class="tab-content active">
                        {% for req in sent_requests %}
                        <div class="listing p-3">
                            <a href="{% url 'exchangers:request_details_view' req.id %}" class="m-0 fw-medium a-lime-hover">
                                <span class="fw-bold text-lime-200">{{forloop.counter}}. </span>
                                Request to: {{req.receiver.first_name}} {{req.receiver.last_name}}
                            </a>
                            <div class="d-flex gap-2">
                                <a href="{% url 'exchangers:request_details_view' req.id %}" class="btn-blue p-2"><i class="bi bi-eye"></i></a>
                                <a href="{% url 'exchangers:send_request_view' req.sender.id req.receiver.id %}?next={{request.path}}"
                                        class="btn-gray p-2"><i class="bi bi-x-circle"></i></a>
                            </div>
                        </div>
                        {% empty %}
                        <div class="listing p-3">
                            <p class="m-0 fw-medium">
                                No sent requests yet.
                            </p>
                        </div>
                        {% endfor %}
                    </section>

                    <!-- Received Requests Section -->
                    <section id="received" class="tab-content">
                        {% for req in received_requests %}
                        <div class="listing p-3">
                            <a href="{% url 'exchangers:request_details_view' req.id %}" class="m-0 fw-medium a-lime-hover">
                                <span class="fw-bold text-lime-200">{{forloop.counter}}. </span>
                                Request from: {{req.sender.first_name}} {{req.sender.last_name}}
                            </a>
                            <!-- Action buttons -->
                            <div class="d-flex gap-2">
                                <a href="{% url 'exchangers:request_details_view' req.id %}" class="btn-blue p-2"><i class="bi bi-eye"></i></a>
                                <a href="{% url 'exchangers:reject_request_view' req.sender.id request.user.id %}"
                                    class="btn-gray p-2"><i class="bi bi-x-circle"></i></a>
                                <button type="button" class="btn-lime-200 p-2" data-bs-toggle="modal"
                                    data-bs-target="#acceptModal-{{req.sender.id}}">
                                    <i class="bi bi-check-circle"></i></button>
                                <!-- Accept request modal -->
                                <div class="modal fade" id="acceptModal-{{req.sender.id}}" tabindex="-1"
                                    aria-labelledby="acceptModalLabel" aria-hidden="true">
                                    <div class="modal-dialog text-black">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <p class="m-0 fs-5" id="acceptModalLabel">Accept Request</p>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'exchangers:new_exchange_view' req.sender.id request.user.id %}"
                                                    method="post" class="needs-validation" novalidate>
                                                    {% csrf_token %}
                                                    <div class="mb-3">
                                                        <label for="skill_chosen" class="col-form-label">
                                                            Choose from {{req.sender.first_name}}'s skills:
                                                        </label>
                                                        <select class="form-select" name="skill_chosen"
                                                            aria-label="Default select example" required>
                                                            <option>Choose</option>
                                                            {% for skill in req.sender.profile.skills.all %}
                                                            <option value="{{skill.id}}">{{skill.name}}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="d-flex justify-content-center gap-2">
                                                        <button type="button" class="btn-gray"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn-blue">Accept request</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="listing p-3">
                            <p class="m-0 fw-medium">
                                No received requests yet.
                            </p>
                        </div>
                        {% endfor %}
                    </section>

                    <!-- Current Exchanges Section -->
                    <section id="current" class="tab-content">
                        {% for exchange in current_exchanges %}
                        <div class="listing p-3">
                            <a href="{% url 'exchangers:exchange_details_view' exchange.id %}" class="m-0 fw-medium a-lime-hover">
                                <span class="fw-bold text-lime-200">{{forloop.counter}}. </span>
                                Exchange between: 
                                {{exchange.user.first_name}} {{exchange.user.last_name}} and 
                                {{exchange.exchanger.first_name}} {{exchange.exchanger.last_name}}
                            </a>
                            <a href="{% url 'exchangers:exchange_details_view' exchange.id %}" class="btn-blue p-2"><i class="bi bi-eye"></i></a>
                        </div>
                        {% empty %}
                        <div class="listing p-3">
                            <p class="m-0 fw-medium">
                                No current exchanges found.
                            </p>
                        </div>
                        {% endfor %}
                    </section>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Reviews section -->
<section class="container-lg px-3">
    <h1 class="title">
        Reviews:
    </h1>
</section>

{% endblock %}