{% extends 'main/base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<section class="container-md">
    <h1 class="m-5 mx-auto title">
    Update Profile
    </h1>
    <!-- Update profile form -->
    <div class="d-flex justify-content-center">
        <form action="{% url 'accounts:update_profile_view' %}" method="post" enctype="multipart/form-data" class="text-start p-4 rounded-4 shadow-sm bg-lime needs-validation form-width" novalidate>
            {% csrf_token %}
            <div class="mb-3 d-flex flex-row gap-2">
                <div class="flex-fill">
                    <label for="fname" class="form-label fw-medium">Firs Name</label>
                    <input type="text" class="form-control focus-ring focus-ring-primary" id="fname" name="fname" value="{{user.first_name}}" required>
                    <div class="invalid-feedback">
                        Please enter a valid first name.
                    </div>
                </div>
                <div class="flex-fill">
                    <label for="lname" class="form-label fw-medium">Last Name</label>
                    <input type="text" class="form-control focus-ring focus-ring-primary" id="lname" name="lname" value="{{user.last_name}}" required>
                    <div class="invalid-feedback">
                        Please enter a valid last name.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label fw-medium">Bio</label>
                <textarea class="form-control focus-ring focus-ring-primary" id="bio" name="bio" rows="3">{{user.profile.bio}}</textarea>
            </div>
            <div class="mb-3 d-flex gap-3 align-items-end">
                <img src="{{user.profile.pfp.url}}" id="preview" class="preview rounded-3 shadow-sm" alt="Preview">
                <div class="flex-fill">
                    <label for="pfp" class="form-label fw-medium ">Profile Picture</label>
                    <input class="form-control focus-ring focus-ring-primary" type="file" id="pfp" name="pfp" onchange="previewImage(event)" accept="image/*">
                </div>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label fw-medium">Phone Number</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-telephone"></i></span>
                    <input type="text" class="form-control focus-ring focus-ring-primary" id="phone" name="phone" value="{{user.profile.phone}}" aria-describedby="inputGroupPrepend" minlength="10" maxlength="10" required>
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="linkedin_url" class="form-label fw-medium">LinkedIn Profile URL</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-linkedin"></i></span>
                    <input type="url" class="form-control focus-ring focus-ring-primary" id="linkedin_url" name="linkedin_url" value="{{user.profile.linkedin_url}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please provide your LinkedIn profile URL.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label fw-medium">Email</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-envelope"></i></span>
                    <input type="email" class="form-control focus-ring focus-ring-primary" id="email" name="email" value="{{user.email}}" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Please enter a valid email.
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center gap-2">
                <a href="{% url 'accounts:profile_view' user.username %}" class="btn-gray text-center w-25">
                    Cancel
                </a>
                <button class="btn-blue w-25" type="submit">
                    Update
                </button>
            </div>
        </form>
</section>
{% endblock %}