{% extends 'main/base.html' %}
{% load static %}

{% block title %}Add New Skill{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="m-5 mx-auto title">
        Add New Skill
    </h1>
    <div class="d-flex justify-content-center">
        <form method="POST" enctype="multipart/form-data" class="p-4 rounded-4 shadow-sm bg-lime custom-width needs-validation" novalidate>
            {% csrf_token %}

            <div class="mb-3">
                <label for="id_name" class="form-label fw-medium">Skill Name</label>
                <input type="text" name="name" id="id_name" class="form-control"
                    value="{{ form.name.value|default:'' }}" required>
                <div class="invalid-feedback">
                    Please enter a valid skill name.
                </div>
            </div>

            <div class="mb-3">
                <label for="id_description" class="form-label fw-medium">Skill Description</label>
                <textarea name="description" id="id_description" class="form-control"
                    rows="4" required>{{ form.description.value|default:'' }}</textarea>
                <div class="invalid-feedback">
                    Please enter a valid skill description.
                </div>
            </div>
            <div class="mb-3 d-flex gap-3 align-items-end">
                <img src="{% static 'images/white.png' %}" id="preview" class="preview rounded-3 shadow-sm"
                    alt="Preview">
                <div class="flex-fill">
                    <label for="image" class="form-label fw-medium">Skill Picture</label>
                    <input class="form-control focus-ring focus-ring-primary" type="file" id="image" name="image"
                        onchange="previewImage(event)" accept="image/*" required>
                    <div class="invalid-feedback">
                        Please choose a skill image.
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-5 gap-2">
                <a href="{% url 'skills:skills_list' %}" class="btn-gray text-center w-25">
                    Cancel
                </a>
                <button type="submit" class="btn-blue w-25">Add Skill</button>
            </div>
        </form>
    </div>

    {% endblock %}