{% extends 'main/base.html' %}


{% block title %}{{skill.name}}{% endblock %}
{% block content %}

<div class="container-fluid mt-5">
    <div class="row row-cols-1 row-cols-md-2 align-items-end row-gap-4">
        <div class="col">
            {% if skill.image %}
            <img src="{{ skill.image.url }}" alt="{{ skill.name }}" class="details-img shadow-sm">
            {% endif %}
        </div>
        <div class="col">
            <div class="d-flex justify-content-between mb-3">
                <h1>{{ skill.name }}</h1>
                <div class="d-flex gap-2">
                    {% if user.is_staff and perms.skills.change_skill %}
                    <a href="{% url 'skills:edit_skill' skill.id %}" class="btn-lime shadow-sm p-2 my-auto">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    {% endif %}
                    {% if user.is_staff and perms.skills.delete_skill %}
                    <!-- Trigger delete modal -->
                    <button type="button" class="btn btn-danger shadow-sm p-2 my-auto" data-bs-toggle="modal"
                        data-bs-target="#deleteModal">
                        <i class="bi bi-trash3-fill"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="details-card shadow-sm">
                <div class="p-4">
                    <p class="mt-2 fs-5" style="text-align: justify;">
                        <strong>Description:</strong> {{ skill.description }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete skill modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header py-2">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Skill</h1>
                    <button type="button" class="btn-close shadow-sm" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete '<strong>{{skill.name}}</strong>' from skills?
                </div>
                <div class="modal-footer py-1">
                    <button type="button" class="btn btn-secondary shadow-sm py-0"
                        data-bs-dismiss="modal">Close</button>
                    <a href="{% url 'skills:delete_skill' skill.id %}" class="btn btn-danger py-0">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Reviews section -->
<section class="container-fluid my-5 px-5">
    <h3 class="title mb-3">
    Exchangers with <span class="text-blue">{{skill.name}}</span> skill:
    </h3>
          
    {% with skill_exchangers as exchangers %}
    {% include 'exchangers/components/exchangers_list.html' %}
    {% endwith %}

</section>
{% endblock %}