{% extends 'main/base.html' %}
{% block title %}Skills{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5 mb-3 title mx-auto">Skills List</h1>
    <form method="get" action="" class="mb-4 d-flex mx-auto custom-width">
        <div class="input-group justify-content-center mt-4">
            <input type="search" name="search" class="form-control" placeholder="Search for a skill..."
                value="{{ request.GET.search }}" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn-lime" type="submit" id="button-addon2"><i class="bi bi-search"></i></button>
        </div>
    </form>
    <div class="d-flex justify-content-end mb-2">
        <a href="{% url 'skills:add_skill' %}" class="btn-blue rounded-pill align-content-center">
            <i class="bi bi-plus bl fs-4"></i>
        </a>
    </div>
    <div class="row">
        {% for skill in skills %}
        <div class="col-md-4 mb-4">
            <div class="card-skills-list border-0">
                <div>
                    <img src="{{ skill.image.url }}" alt="{{ skill.name }}" class="image-skills-list">
                </div>
                <div>
                    <p class="mt-2 fs-5">{{ skill.name }}</p>
                    <p class="mt-2"><i class="bi bi-people-fill icon-skills-list"></i> {{ skill.exchangers_count }}</p>
                    <div class="d-flex position-absolute bottom-0 end-0 m-2">
                        <a href="{% url 'skills:skill_detail' skill.id %}" class="btn-lime shadow-sm px-2 rounded-3"><i
                                class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="d-flex justify-content-center">
            <p class="alert alert-warning">No results found</p>
        </div>
        {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if skills.has_previous %}
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'skills:skills_list' %}{% querystring page=1 %}"
                        aria-label="First">
                        <span aria-hidden="true"> First</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'skills:skills_list' %}{% querystring page=skills.previous_page_number %}"
                        aria-label="Previous">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
                {% endif %}

                {% for num in skills.paginator.page_range %}
                
                {% if skills.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'skills:skills_list' %}{% querystring page=num %}">
                        {{ num }}
                    </a>
                </li>
                {% endif %}
                
                {% endfor %}

                {% if skills.has_next %}
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'skills:skills_list' %}{% querystring page=skills.next_page_number %}"
                        aria-label="Next">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                        href="{% url 'skills:skills_list' %}{% querystring page=skills.paginator.num_pages %}"
                        aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
{% endblock %}