{% extends 'main/base.html' %}
{% block title %}Skills{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 title mx-auto" style="font-size: 3rem; font-weight: bold;">Skills List</h1>
      
        <form method="get" action="" class="mb-3 d-flex mx-auto form-width">
            <div class="input-group  justify-content-center mt-4">
        <input type="text" name="search" class="form-control" placeholder="Search for a skill..." value="{{ request.GET.search }}" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn-lime" type="submit" id="button-addon2" ><i class="bi bi-search"></i></button>
    </div>
    </form>
      <div class="d-flex justify-content-end mb-2">
        <a href="{% url 'skills:add_skill' %}" class="btn-blue rounded-pill align-content-center">
            <i class="bi bi-plus bl fs-4"></i>
        </a>
      </div>
    <div class="row">
        {% for skill in skills %}
        <div class="col-md-4 mb-4">
            <div class="card card_skills_list border-0">
                <div>
                    <img src="{{ skill.image.url }}" alt="{{ skill.name }}" class="image_skills_list">
                </div>
                <div>
                    <p class="mt-2 fs-5">{{ skill.name }}</p>
                    <p class="mt-2"><i class="bi bi-people icon_skills_list"></i> : {{ skill.your_skill.count }}</p>
                    <div class="d-flex justify-content-end">
                        <a href="{% url 'skills:skill_detail' skill.id %}" class="btn-lime"><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="d-flex justify-content-center">
        <p class="alert alert-warning">No results found</p>
    </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if skills.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="First">
                            <span aria-hidden="true"> First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ skills.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                {% endif %}
    
                {% for num in skills.paginator.page_range %}
                    {% if skills.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
    
                {% if skills.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ skills.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ skills.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<style>
    .pagination {
        display: inline-flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .pagination .page-item {
        margin: 0 5px;
    }

    .pagination .page-link {
        color: black;
        text-decoration: none;
        padding: 10px 15px;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }

    .pagination .page-link:hover {
        color:#6986d5;
    }

    .pagination .page-item.active .page-link {
        color:#7A98E9; 
        font-weight: bold;
        background-color: transparent;
    }

    .pagination .page-item a.page-link {
        border-radius: 0;
        background-color: transparent;
    }

    .pagination .page-item.disabled .page-link {
        color: #d6d6d6;
        pointer-events: none;
    }

    .skill_name {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .card_skills_list {
        background-color: #F6F6F6;
        border-radius: 10px;
        box-shadow: none;
        display: grid;
        grid-template-columns: 120px 1fr;
        gap: 15px;
        padding: 10px;
        position: relative;
    }

    .icon_skills_list {
        color: #d7e7ac;
    }

    .image_skills_list {
        width: 100%;
        height: 6rem;
        object-fit: cover;
        border-radius: 10px;
    }
</style>
{% endblock %}
