body a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #3c3e44;
    transition: all 0.3s;
}

.a-lime-hover:hover {
    color: #b2c972;
}

.a-blue-hover:hover {
    color: #527bea;
}

/* Navbar color */
.navigation {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

/* Backgroun colors */
.bg-lime {
    background-color: #EBFDB8;
}

.bg-blue {
    background-color: #7A98E9;
}

.bg-gray {
    background-color: #F6F6F6;
}

/* Text colors */
.text-lime {
    color: #EBFDB8;
}

.text-lime-200 {
    color: #b2c972;
}

.text-blue {
    color: #7A98E9;
}

/* buttons */
.btn-lime {
    display: block;
    padding: 0.25rem 1rem;
    align-items: center;
    background-color: #EBFDB8;
    border: 1px solid transparent;
    color: black;
    border-radius: .3rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
}

.btn-lime:hover {
    background-color: #d0e596;
    transform: translateY(-1px);
}

.btn-lime:active {
    background-color: #b2c972;
    transform: translateY(0px);
}

.btn-blue {
    display: block;
    padding: 0.3rem 1rem;
    align-items: center;
    background-color: #7A98E9;
    border: 1px solid transparent;
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
}

.btn-blue:hover {
    background-color: #6986d5;
    transform: translateY(-1px);
}

.btn-blue:active {
    background-color: #5570bc;
    transform: translateY(0px);
}

.btn-outline-blue {
    color: #a8bef9;
    border: 1px solid #7a98e9;
    padding: 0.3rem 1rem;
    border-radius: 0.3rem;
    transition: all 0.3s;
}

.btn-outline-blue:hover {
    background-color: #6986d5;
    color: white;
    transform: translateY(-1px);
}

.btn-outline-blue:active {
    background-color: #4f69b0;
    transform: translateY(0px);
}

.btn-gray {
    display: block;
    padding: 0.3rem 1rem;
    align-items: center;
    background-color: #a6a8af;
    border: 1px solid transparent;
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
}

.btn-gray:hover {
    background-color: #9698a0;
    transform: translateY(-1px);
}

.btn-gray:active {
    background-color: #81838a;
    transform: translateY(0px);
}

.btn-lime-200 {
    display: block;
    padding: 0.3rem 1rem;
    align-items: center;
    background-color: #b6df45;
    border: 1px solid transparent;
    color: white;
    border-radius: .3rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
}

.btn-lime-200:hover {
    background-color: #d0e596;
    transform: translateY(-1px);
}

.btn-lime-200:active {
    background-color: #a2cf27;
    transform: translateY(0px);
}

/* Custom width */
@media only screen and (min-width: 600px) {
    .custom-width {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .custom-width {
        width: 90%;
    }
}

@media only screen and (min-width: 992px) {
    .custom-width {
        width: 80%;
    }
}

@media only screen and (min-width: 1200px) {
    .custom-width {
        width: 60%;
    }
}

/* Base footer */
.social-icon {
    transition: all 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2) !important;
    color: #7A98E9 !important;
}

.social-icon:active {
    transform: scale(0.9);
}

footer {
    background-color: #f6f6f6;
    backdrop-filter: blur(10px);
}

/* Accounts */
.preview {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.pfp-sm {
    max-height: 30px;
    max-width: 30px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.title {
    position: relative;
    width: fit-content;
}

.title::before {
    position: absolute;
    content: '';
    display: block;
    padding: .7em .88em;
    background: #7A98E9;
    z-index: -1;
    left: -0.5em;
    border-radius: .3em;
}

.profile-grid {
    margin-bottom: 5%;
    display: grid;
    gap: .8rem;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "one"
        "two";
}

@media screen and (min-width: 576px) {
    .profile-grid {
        grid-template-areas:
            "one two";
    }
}

@media screen and (min-width: 54em) {
    .profile-grid {
        grid-template-areas:
            "one two two";
    }
}

.profile {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.profile:nth-child(1) {
    grid-area: one;
}

.profile:nth-child(2) {
    align-items: start;
    grid-area: two;
}

.pfp {
    max-height: 195px;
    aspect-ratio: 3/2;
    object-fit: cover;
    object-position: top;
}

@media screen and (min-width: 665px) {
    .pfp {
        max-height: 230px;
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: top;
    }
}

@media screen and (min-width: 54em) {
    .pfp {
        max-height: 250px;
        aspect-ratio: 3/2;
        object-fit: cover;
        object-position: top;
    }
}

/* Profile reviews */
.rate {
    display: flex;
    flex-direction: row-reverse;
    height: 46px;
    padding: 0 10px;
    justify-content: center;
    gap: 2px;
}

.rate:not(:checked)>input {
    position: absolute;
    visibility: hidden;
}

.rate:not(:checked)>label {
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #9698a0;
}

.rate:not(:checked)>label::before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #6986d5;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #6986d5;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #6986d5;
}

/* Tabs section in profile */
.tabs-navigation {
    display: flex;
}

.tab-button {
    padding: 0.3rem 1rem;
    border: none;
    color: #333;
    background-color: #F6F6F6;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem 1rem 0 0;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #ddf894;
    font-weight: 600;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-content.active p {
    font-size: 1rem;
    color: #333;
}

.listing {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #F6F6F6;
    border-bottom: solid 2px #d6d6d6;
}

/* Exchangers */
.card-exchangers {
    position: relative;
    height: 350px;
    border-radius: 1rem;
    background-color: #F6F6F6;
    padding-bottom: 0.1rem;
}

.card-inner {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding: 1rem;
}

.image-exchangers {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: top;
    border-radius: 1rem 1rem 0 0;
}

.rating {
    position: absolute;
    top: 3px;
    right: 15px;
    display: flex;
    align-items: end;
    gap: 5px;
    color: #EBFDB8;
    text-shadow: 0 0 5px #56585f;
}

.star {
    font-size: 1.4rem;
    font-weight: bold;
}

.rating-number {
    font-size: 1.2rem;
}

/* Skills */
.pagination {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination .page-item {
    margin: 0 5px;
}

.pagination .page-link {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.pagination .page-link:hover {
    color: #6986d5;
}

.pagination .page-item.active .page-link {
    color: #7A98E9;
    font-weight: bold;
    background-color: transparent;
}

.pagination .page-item a.page-link {
    border-radius: 0;
    background-color: transparent;
}

.pagination .page-item.disabled .page-link {
    color: #d6d6d6;
    pointer-events: none;
}

.card-skills-list {
    background-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: none;
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 15px;
    padding: 10px;
    position: relative;
}

.icon-skills-list {
    font-size: 1.3rem;
    color: #d7e7ac;
}

.image-skills-list {
    width: 100%;
    height: 6rem;
    object-fit: cover;
    border-radius: 10px;
}

.details-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 1.4rem;
}

.details-card {
    width: 100%;
    height: 400px;
    border-radius: 1.4rem;
    background-color: #F6F6F6;
}

/* Request and exchange details */
.request-details-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

/* 404 styling */
.four {
    fill: none;
    stroke: #7A98E9;
    stroke-width: 10;
    stroke-dasharray: 200 100;
}

.zero {
    fill: none;
    stroke: #ddf894;
    stroke-width: 10;
    stroke-dasharray: 200 100;
}

.animate {
    -webkit-animation: swirls 2s linear infinite;
    -moz-animation: swirls 2s linear infinite;
    -o-animation: swirls 2s linear infinite;
    animation: swirls 2s linear infinite;
}

.img-404 {
    height: 200px
}

@keyframes swirls {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 300;
    }
}

/* Home */
/* Section 1 (hero) */
.hero {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.55);
    color: white;
    margin-top: .6rem;
    margin-bottom: 1.3rem;
    position: relative;
    overflow: hidden;
    min-height: 90vh;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}