
body a {
    text-decoration: none;
    color: black;
}

.navigation{
    background-color: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(10px);
}

.bg-lime {
    background-color: #EBFDB8;
    border-radius: .25rem;
}

.bg-blue {
    background-color: #7A98E9;
    border-radius: .25rem;
}

.bg-gray {
    background-color: #F6F6F6;
    border-radius: .25rem;
}

/* buttons */
.btn-lime {
    display: block;
    padding: 0 .7rem;
    align-items: center;
    background-color: #EBFDB8;
    border: 1px solid transparent;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.btn-lime:hover {
    background-color: #d0e596;
    transform: translateY(-1px);
}

.btn-lime:active {
    background-color: #b2c972;
    transform: translateY(0px);
}

.btn-blue {
    display: block;
    padding: 0 .7rem;
    align-items: center;
    background-color: #7A98E9;
    border: 1px solid transparent;
    color: whitesmoke;
    border-radius: .25rem;
    cursor: pointer;
    justify-content: center;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.btn-blue:hover {
    background-color: #6986d5;
    transform: translateY(-1px);
}

.btn-blue:active {
    background-color: #5570bc;
    transform: translateY(0px);
}
