{% extends 'main/base.html' %}
{% load static %}

{% block title %}Payment Failed{% endblock %}

{% block content %}



<title>Payment Success</title>
    <div class="container text-center mt-5">
        <div class="alert alert-danger p-4 rounded-3">
            <h1 class="display-4">❌ Payment Failed</h1>
            <p class="lead">Something went wrong. Please try again or contact support.</p>
            
        </div>
        <a href="/" class="btn btn-lime mt-3 mb-5" style="background-color: #7A98E9;">Back to Home</a>
        <a href="{% url 'plans:plans_view' %}" class="btn btn-lime mt-3 mb-5" style="background-color: #EBFDB8;">Retry Payment</a>
    </div>


{% endblock %}