{% extends 'main/base.html' %}
{% load static %}

{% block title %}Skill Exchange{% endblock %}


{% block content %}


<section class="plans-section">
  <div class="container text-center">
    <div class="plans-text text-center">
      <h1>Choose <span class="bg-lime p-1 rounded-3">Your Plan</span></h1>
    </div>
    
    <div class="add-plan">
      {% if user.is_staff %}
      <a href="{% url 'plans:add_plan_view' %}" class="btn-lime rounded-pill align-content-center" style="margin-top: 30px;">
        <i class="bi bi-plus bl fs-4"></i>
      </a>
      {% endif %}
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center mt-4 g-3">
      
      <!-- Free Plan -->
       
      {% for plan in plans %}
      {% if plan.plan_name == "Free"%}
      
      <div class="col mb-3">
        <div class="card card-custom card-1" style="width: 400px; height: 400px; background-color: rgba(122, 152, 233, 0.75); border-radius: 10px; border:none">
          <div class="card-body">
            <h5 class="card-title">{{ plan.plan_name}} Plan</h5>
            <ul>
              <li>{{ plan.plan_feture_1 }}</li>
              <li>{{ plan.plan_feture_2 }}</li>
              <li>{{ plan.plan_feture_3 }}</li>
            </ul>
            <p><strong>SAR {{plan.plan_amount}} / month</strong></p>
            {% if user.is_staff %}
            <a href="{% url 'plans:plan_detail_view' plan.id %}" class="view-plan-detail">View Details</a>
            {% endif %}
          </div>
        </div>
      </div>
      
      {% elif plan.plan_name == "Premium" %}
      <!-- Premium Plan -->
       <div class="col mb-3">
        <div class=" card card-custom card-2" style="width: 400px ;height: 400px; background-color: #F6F6F6; border-radius: 10px; border:none;">
          <div class="card-body">
            <h5 class="card-title">{{ plan.plan_name}} Plan</h5>
            <ul>
              <li>{{ plan.plan_feture_1 }}</li>
              <li>{{ plan.plan_feture_2 }}</li>
              <li>{{ plan.plan_feture_3 }}</li>
            </ul>
            <p><strong>SAR {{ plan.plan_amount }} / month</strong></p>
            
            <!-- User Authentication Check -->
             {% if user.is_authenticated and not user.is_staff and not user.is_superuser %}
             {% if user.subscription and user.subscription.is_valid %}
             
             <!-- If user is subscribed -->
              <p class="text-success" style="font-size: 0.9rem;">
                You are already subscribed to the {{ user.subscription.plan.plan_name }} plan.</p>
              {% else %}
              
              <!-- If user is not subscribed -->
              <a href="{% url 'plans:payment_view' plan.id %}" class="submit-btn">Subscribe Now</a>
              {% endif %}

              {% elif not user.is_authenticated %}
              <!-- If user is not logged in -->
              <a href="{% url 'accounts:login_view'%}" class="submit-btn">Login to Subscribe</a>
              {% endif %}
            
            {% if user.is_staff %}
            <a href="{% url 'plans:plan_detail_view' plan.id %}" class="view-plan-detail">View Details</a>
            {% endif%}

          </div>
        </div>
      </div>
      {% endif %}
      {%endfor%}
    </div>
  </div>
</section>



  

{% endblock %}
