{% extends 'main/base.html' %}
{% load static %}

{% block title %}Skill Exchange{% endblock %}


{% block content %}

<style>
/* Plane Section */
.plans-section {
  padding: 50px 0;
}

.section-2-text h1 {
  font-size: 64px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .section-2-text h1 {
    font-size: 1.8rem; 
  }
}

.card-custom {
  position: relative;
  margin-top: 20px;
  border-radius: 20px;
}

.card-custom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
  opacity: 0.2;
}

.card-1::before {
  background-image: url("/static/images/Vector 1-2.png");
}

.card-2::before {
  background-image: url("/static/images/Vector 3.png");
}

.card-body {
  position: relative;
  z-index: 1;
}

.card-custom .number {
  font-size: 5rem;
  font-weight: normal;
  color: rgba(160, 158, 158, 0.519);
  position: absolute;
  top: -65px;
  right: 15px;
  z-index: 0;
}

.card-custom .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}


.card-custom p {
  font-size: 1.2rem;
  margin-top: 50px;
  margin-bottom: 30px;
}

.card-custom ul {
  text-align: left;
  padding-left: 20px;
  font-size: 1.1rem;
  line-height: 1.6;
}

.card-custom ul li {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 1rem;
  
}

.card-custom .btn {
  margin-top: 20px;
}

.submit-btn {
  background-color: #EBFDB8;
  border: 1px solid transparent;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .3rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #d0e596;
  transform: translateY(-1px);
  border: none;
  text-decoration: none;
  color: black;
}

.view-plan-detail {
  background-color: #EBFDB8;
  border: 1px solid transparent;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: .3rem;
  cursor: pointer;
}

.view-plan-detail:hover {
  background-color: #d0e596;
  transform: translateY(-1px);
  border: none;
  text-decoration: none;
  color: black;
}

.add-plan {
  display: flex;
  justify-content: flex-end; 
  margin-top: 20px; 
  margin-right: 0; 
  width: 100%; 
}




</style>


<section class="plans-section">
  <div class="container text-center">
    <div class="section-2-text text-center">
      <h1>Choose <span class="bg-lime p-1 rounded-3">Your Plan</span></h1>
    </div>
    
    <div class="add-plan">
      <a href="{% url 'main:add_plan_view' %}" class="btn-lime rounded-pill align-content-center" style="margin-top: 30px;">
        <i class="bi bi-plus bl fs-4"></i>
      </a>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center mt-4 g-3">
      
      <!-- Free Plan -->
       
      {% for plan in plans %}
      {% if plan.plan_name == "Free"%}
      
      <div class="col mb-3">
        <div class="card card-custom card-1" style="width: 400px; height: 400px; background-color: rgba(122, 152, 233, 0.75); border: none;">
          <div class="card-body">
            <h5 class="card-title">{{ plan.plan_name}} Plan</h5>
            <ul>
              <li>{{ plan.plan_feture_1 }}</li>
              <li>{{ plan.plan_feture_2 }}</li>
              <li>{{ plan.plan_feture_3 }}</li>
            </ul>
            <p><strong>SAR {{plan.plan_amount}} / month</strong></p>
            <a href="{% url 'main:plan_detail_view' plan.id %}" class="view-plan-detail">View Details</a>
          </div>
        </div>
      </div>
      
      {% elif plan.plan_name == "Premium" %}
      <!-- Premium Plan -->
       <div class="col mb-3">
        <div class="card card-custom card-2" style="width: 400px ;height: 400px; background-color: #F6F6F6; border: none;">
          <div class="card-body">
            <h5 class="card-title">{{ plan.plan_name}} Plan</h5>
            <ul>
              <li>{{ plan.plan_feture_1 }}</li>
              <li>{{ plan.plan_feture_2 }}</li>
              <li>{{ plan.plan_feture_3 }}</li>
            </ul>
            <p><strong>SAR {{ plan.plan_amount }} / month</strong></p>
            <a href="{% url 'main:payment_view' plan.id %}" class="submit-btn">Subscribe Now</a>
            {% if user.is_staff %}
            <a href="{% url 'main:plan_detail_view' plan.id %}" class="view-plan-detail">View Details</a>
            {% endif%}

          </div>
        </div>
      </div>
      {% endif %}
      {%endfor%}
    </div>
  </div>
</section>



  

{% endblock %}
