{% extends 'main/base.html' %}
{% load static %}

{% block title %}Skill Exchange{% endblock %}

{% block content %}


<section class="testimony-section">
    <div class="container">
        <div class="testimony text-center">
            <div class="testimony-section-text">
              <h1>Write Your <span class="bg-lime p-1 rounded-3">Testimony</span></h1>
            </div>
            
            <!-- Form Section -->
             <div class="mx-auto" style="max-width: 600px;">
              <form action="{% url 'main:testimony_view' request.user.id %}" method="post" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="testimony_comment" class="testimony-label">Your Comment</label>
                  <textarea class="form-control-2" placeholder="Let us know what you think about the website..." name="testimony_comment"  id="testimony_comment"  rows="4"  minlength="1"  maxlength="150"  required></textarea>
                  <div class="invalid-feedback">
                    Comment cannot be empty.
                  </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                  <button type="submit" class="aa-testmoney btn-blue">Add Testimony</button>
                </div>
              </form>
            </div>
          </div>
        </div>
</section>

{% endblock %}